h1{
color:rgb(0, 255, 4)
font-family: 'Dancing Script', cursive;
font-family: 'Edu NSW ACT Foundation', cursive;
}
p{
background-color: rgb(12, 104, 133);
color: rgb(0, 255, 4);
}
mark{
background-color:rgb(12, 104, 133);
color: rgb(0, 255, 4);
}
h1{
    color:rgb(0, 255, 4)
 
}
